# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space


# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = silent

# XML files
[*.xml]
indent_size = 2

file_header_template = Copyright (c) Tim Kennedy. All Rights Reserved. Licensed under the MIT License.
